<!-- DEBUT SECTION PRINCIPALE -->

    <!-- Debut wrapper pour taille maximale du body -->
    <!-- Premier "cadre" -->
    <div class="hero-image">
      <div class="hero-text">
        <h1>Bienvenue sur Stampee</h1>
        <h2>Le seul site recommandé par le Lord</h2>
        <button class="boutonAccueil texteBouton"><a href="catalogue">Place de Marché</a></button>
      </div>
    </div>
    <!-- Fin premier cadre -->

    <!-- Recommandation -->

    <div class="produitsVedettes">
      <div class="content grid-content titredescription">
        <h2>Produits en Vedette</h2>
        <div></div>
      </div>

      <div class="content grid-content">
        <article>
          <div class="containeurArticle containeurDessusImage">
            <h1>Plus que 15h47</h1>
            <span>Exclusivité</span>
          </div>
          <picture><img src="medias/img/timbreUSA1.jpg" alt="" /></picture>
          <div class="containeurArticle">
            <h1>Timbre Rare</h1>
            <span>$1,000</span>
          </div>
          <span
            >U.S. #1 Used with <br />
            Nice Cancel</span
          >
        </article>
        <article>
          <div class="containeurArticle containeurDessusImage">
            <h1>1 jour restant</h1>
            <span>Exclusivité</span>
          </div>
          <picture><img src="medias/img/LaborStamp.jpg" alt="" /></picture>
          <div class="containeurArticle">
            <h1>Timbre Rare</h1>
            <span>$1,000</span>
          </div>
          <span
            >US 1 Used Blue Cancel <br />
            VF 1847 SCV $350.00 (Or)</span
          >
        </article>
        <article>
          <div class="containeurArticle containeurDessusImage">
            <h1>3 jours restants</h1>
            <span>Exclusivité</span>
          </div>
          <picture><img src="medias/img/stamp.jpg" alt="" /></picture>
          <div class="containeurArticle">
            <h1>Timbre Rare</h1>
            <span>$1,000</span>
          </div>
          <span
            >Macao (China) 232, 233, 236, 238A <br />
            Used/MLH VF 1912-24 SCV $15.75 (jr*)</span
          >
        </article>
        <article>
          <div class="containeurArticle containeurDessusImage">
            <h1>Plus que 56 min</h1>
            <span>Exclusivité</span>
          </div>
          <picture><img src="medias/img/bird.jpg" alt="" /></picture>
          <div class="containeurArticle">
            <h1>Timbre Rare</h1>
            <span>$1,000</span>
          </div>
          <span>U.S. #523 USED WITH PSE CERT VF 80</span>
        </article>
      </div>
    </div>

    <!-- Fin Recommandation -->

    <!-- Biographie -->

    <div class="containeurBiographie">
      <h2>Biographie du Lord</h2>
      <div class="biographie">
        <picture>
          <img src="medias/img/lord.jpg" alt="" />
        </picture>
        <div class="souscontaineurBiographie">
          <p>
            Lord Reginald Stampee III né le 6 août 1950 à Londres est un des
            plus célèbres philatélistes anglais. Ses collections de timbres ont
            été les plus complètes connues pour l'époque classique (timbres émis
            avant 1900), avec une passion pour les émissions d'avant 1870. Elles
            ont notamment concerné les provinces canadiennes et la Confédération
            du Canada, la Suisse, la colonie du Cap, Ceylan, le Gambie, Maurice,
            l'Argentine et l'Uruguay.
          </p>
          <button class="boutonAccueil">Découvrir la suite</button>
        </div>
        <div class="toBeHiddenMobile"></div>
      </div>
    </div>

    <!--Fin Biographie -->

    <!--Actualité -->

    <div class="containeurActualité">
      <h2>Actualité Récentes</h2>

      <div class="Actualité">
        <figure class="snip1369 green">
          <img src="medias/img/stampmauve-Copie.jpg" alt="pr-sample15" />
          <div class="image">
            <img src="medias/img/stampmauve-Copie.jpg" alt="pr-sample15" />
          </div>
          <figcaption>
            <h3>Vente Exceptionnelle</h3>
            <p>Un timbre rare a été vendu à un prix record sur notre site</p>
          </figcaption>
          <a href="#">
            <span class="read-more">
              SUITE <i class="ion-android-arrow-forward"></i></span
          ></a>
        </figure>
        <figure class="snip1369 blue hover">
          <img src="medias/img/LaborStamp.jpg" alt="pr-sample18" />
          <div class="image">
            <img src="medias/img/LaborStamp.jpg" alt="pr-sample18" />
          </div>
          <figcaption>
            <h3>Découvrez des collections uniques</h3>
            <p>
              De nouvelles trouvailles sont faites quotidiennement tout autour
              du monde
            </p>
          </figcaption>
          <a href="#">
            <span class="read-more">
              SUITE <i class="ion-android-arrow-forward"></i
            ></span>
          </a>
        </figure>
        <figure class="snip1369 orange">
          <img src="medias/img/timbreUSA1.jpg" alt="pr-sample16" />
          <div class="image">
            <img src="medias/img/timbreUSA1.jpg" alt="pr-sample16" />
          </div>
          <figcaption>
            <h3>La collection du Lord</h3>
            <p>Découvrez la majestueuse collection du Lord</p>
          </figcaption>
          <a href="#">
            <span class="read-more">
              SUITE <i class="ion-android-arrow-forward"></i
            ></span>
          </a>
        </figure>
      </div>
    </div>

    <!--Fin Actualité -->

    <!-- Newsletter -->
    <div class="inscriptionNewsletter newsletterAccueil">
      <div class="firstContainerNewsletterAccueil">
        <h1>S'INSCRIRE À L'INFOLETTRE</h1>
        <p>Restons en contact et ne manquez pas les meilleures affaires!</p>
        <div class="search">
          <form action="#">
            <input
              type="text"
              placeholder="you@you.com"
              name="search"
              aria-label="champ-inscriptionNewsletter"
            />
            <button aria-label="envoiNewsletter">
              <i class="fa fa-search" style="font-size: 18px"> </i>
            </button>
          </form>
        </div>
      </div>
      <div class="secondContainerNewsletterAccueil">
        <h3>Vous recevrez GRATUITEMENT notre guide de timbres</h3>
        <picture>
          <img src="medias/img/livreTimbre.jpg" alt="" />
        </picture>
      </div>
    </div>